.profile-card {
    width: 100%;
    height: auto;
    background-color: red;
}
.profile-cover {
    width: 100%;
    height: 30vh;
    background-color: blue;
    background-size: 100% !important;
    background-position: center !important;
}
.profile-info {
    width: 400px;
    height: 140px;
    background-color: var(--white);
    position: absolute;
    top: 100%;
    transform: translate(15%, -50%);
    display: flex;
    /* border-radius: 70px; */
}
.profile-info-pic {
    width: 140px;
    height: 140px;
    background-color: var(--secondary-color);
}
.profile-info-pic img {
    width: 100%;
    height: 100%;
}
.profile-info-details {
    padding: var(--padding-2) var(--padding-2);
}