.meme {
    width: 32.5%;
    height: 273px;
    background-color: red;
    margin: .417%;
    background-size: cover !important;
    border-radius: var(--border-radius);
    text-decoration: none;
}
.meme-sub {
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg, transparent, var(--dark-overlay));
    transition-duration: var(--duration);
    border-radius: var(--border-radius);
}
.meme:hover {
    text-decoration: none;
}
.meme:hover .meme-sub {
    background: linear-gradient(180deg, transparent, var(--darker-overlay) 70%);
    transition-duration: var(--duration);
}
.meme .reactions {
    width: calc(100% - (var(--border-radius) / 2));
    height: auto;
    margin: 0 auto;
    background-color: transparent;
    position: relative;
    top: 100% !important;
    transform: translateY(-100%);
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: var(--padding-1);
    color: #fff;
}
.meme .reactions span {
    height: auto;
    width: auto;
    margin: 0 var(--padding-1);
    display: flex;
    align-items: center;
    /* justify-content: center; */
    background-color: green;
}
.meme .reactions span .icon {
    width: auto;
    height: auto;
    background-color: red;
}
.meme .reactions span .icon img {
    width: 25px;
    height: 25px;
}
@media (max-width: 768px) {
    .meme {
        width: 49%;
    }   
}